.book {
  &.mini {
    max-width: 400px;
  }
}

.book-shelves + .book-shelves {
  &::before {
    content: ",";
  }
}

.book-languages {
  display: flex;
  & > .book-item:first-child::before {
    content: " ";
  }
}
