<mat-card class="book-card">
  <mat-card-header>
    <mat-card-title>Create Book</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content">
    <form class="book-form" [formGroup]="formGroup">
      <div class="book-form-container">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input type="text" matInput formControlName="title" />
        </mat-form-field>
      </div>
      <div class="book-form-container">
        <mat-form-field>
          <mat-label>Subtitle</mat-label>
          <input type="text" matInput formControlName="subtitle" />
        </mat-form-field>
      </div>
      <div class="book-form-container">
        <mat-form-field>
          <mat-label>Author</mat-label>
          <mat-select
            formControlName="author"
            [compareWith]="authorComparisonFunction"
          >
            <mat-option (click)="resetAuthor()">Отменить</mat-option>
            <mat-option *ngFor="let author of authors" [value]="author">{{
              author.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="book-form-container">
        <mat-form-field>
          <mat-label>Languages</mat-label>
          <mat-select
            formControlName="language"
            [compareWith]="langComparisonFunction"
          >
            <mat-option (click)="resetLang()">Отменить</mat-option>
            <mat-option *ngFor="let langauge of languages" [value]="langauge">{{
              langauge.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="book-form-container">
        <mat-form-field>
          <mat-label>Genres</mat-label>
          <mat-select formControlName="genre">
            <mat-option (click)="resetGenre()">Отменить</mat-option>
            <mat-option *ngFor="let genre of genres" [value]="genre">{{
              genre
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="book-form-container">
        <mat-form-field>
          <mat-label>Count of page</mat-label>
          <input
            type="number"
            min="0"
            max="9999"
            matInput
            formControlName="count_of_page"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
