<mat-card class="filter-panel">
  <mat-card-header> Filter Panel</mat-card-header>
  <mat-card-content>
    <!-- Genres -->
    <div class="filter-panel-container">
      <mat-form-field>
        <mat-label>Genres</mat-label>
        <mat-select
          (valueChange)="changeGenre($event)"
          [value]="filters.shelve"
        >
          <mat-option (click)="changeGenre('')">Отменить</mat-option>
          <mat-option *ngFor="let genre of genres" [value]="genre">{{
            genre
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Authors -->
    <div class="filter-panel-container">
      <mat-form-field>
        <mat-label>Authors</mat-label>
        <mat-select [value]="getAuthorByID(filters.author_id)?.name">
          <mat-option (click)="changeAuthor(null)">Отменить</mat-option>
          <mat-option
            *ngFor="let author of authors"
            [value]="author.name"
            (click)="changeAuthor(author)"
            >{{ author.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Languages -->
    <div class="filter-panel-container">
      <mat-form-field>
        <mat-label>Languages</mat-label>
        <mat-select
          (valueChange)="changeLang($event)"
          [value]="filters.language"
        >
          <mat-option (click)="changeLang('')">Отменить</mat-option>
          <mat-option
            *ngFor="let langauge of languages"
            [value]="langauge.name"
            >{{ langauge.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Count of pages -->
    <div class="filter-panel-container">
      <mat-form-field class="search-field">
        <mat-label>min pages count</mat-label>
        <input
          type="text"
          [value]="filters.min_pages_count"
          matInput
          (change)="onChangeMinCountOfPage($event)"
        />
      </mat-form-field>
    </div>
    <div class="filter-panel-container">
      <mat-form-field class="search-field">
        <mat-label>max pages count</mat-label>
        <input
          type="text"
          [value]="filters.max_pages_count"
          matInput
          (change)="onChangeMaxCountOfPage($event)"
        />
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
