.main-page {
  padding: 10px;
  &-content {
    display: flex;
  }
  &-books {
    flex: 1;
  }
  &-filters {
    min-width: 200px;
  }
  &-header {
    display: flex;
    &-search {
      flex: 1;
    }
    &-button {
      margin: 15px;
    }
  }
}
