@import "assets/styles/reset.style.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.book,
.book-card,
.author,
.author-card {
  .mat-card-header-text {
    margin: 0px;
  }
}
